In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("students_data.csv")

In [4]:
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,jane smith,16.0,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,NaN,MALE,10,NaN,missing,69,06/12/2022,needs improvement
3,103,jane smith,16.0,FEMALE,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,ali Khan,17.0,female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,lucy gray,17.0,male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,FEMALE,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,NaN,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,MALE,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,MALE,11th,75.0,NaN,66,2022-06-10,good student
23,123,jane smith,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,MALE,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,NaN,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,FEMALE,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average
30,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   student_id     31 non-null     int64
 1   name           31 non-null     object
 2   age            28 non-null     float64
 3   gender         31 non-null     object
 4   grade          31 non-null     object
 5   math_score     13 non-null     float64
 6   english_score  23 non-null     object
 7   science_score  31 non-null     int64
 8   enrolled_date  31 non-null     object
 9   remarks        31 non-null     object
dtypes: float64(2), int64(2), object(6)
memory usage: 2.6+ KB

In [6]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30     True
dtype: bool

In [9]:
df = df.drop_duplicates()
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,jane smith,16.0,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,NaN,MALE,10,NaN,missing,69,06/12/2022,needs improvement
3,103,jane smith,16.0,FEMALE,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,ali Khan,17.0,female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,lucy gray,17.0,male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,FEMALE,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,NaN,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,MALE,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,MALE,11th,75.0,NaN,66,2022-06-10,good student
23,123,jane smith,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,MALE,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,NaN,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,FEMALE,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average

In [11]:
df.isnull().sum()

student_id        0
name              0
age               3
gender            0
grade             0
math_score       17
english_score     8
science_score     0
enrolled_date     0
remarks           0
dtype: int64

In [15]:
df.loc[:,"name"] = df["name"].str.lower().str.title()
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,Jane Smith,16.0,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,NaN,MALE,10,NaN,missing,69,06/12/2022,needs improvement
3,103,Jane Smith,16.0,FEMALE,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,Ali Khan,17.0,female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,Lucy Gray,17.0,male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,FEMALE,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy Gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,NaN,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,MALE,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,MALE,11th,75.0,NaN,66,2022-06-10,good student
23,123,Jane Smith,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,MALE,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,NaN,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,FEMALE,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average

In [16]:
df["age"].unique()

array([16., nan, 17., 18.])

In [19]:
age_mean = df["age"].mean().round(0)

In [20]:
df.loc[:,"age"] = df["age"].fillna(age_mean)

In [21]:
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,Jane Smith,16.0,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,17.0,MALE,10,NaN,missing,69,06/12/2022,needs improvement
3,103,Jane Smith,16.0,FEMALE,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,Ali Khan,17.0,female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,Lucy Gray,17.0,male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,FEMALE,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy Gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,17.0,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,MALE,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,MALE,11th,75.0,NaN,66,2022-06-10,good student
23,123,Jane Smith,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,MALE,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,17.0,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,FEMALE,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average

In [23]:
df["gender"].unique()

array(['female', 'Male', 'MALE', 'FEMALE', 'male', 'Female'], dtype=object)

In [24]:
df.loc[:,"gender"] = df["gender"].str.lower().str.title()
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,Jane Smith,16.0,Female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,17.0,Male,10,NaN,missing,69,06/12/2022,needs improvement
3,103,Jane Smith,16.0,Female,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,Male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,Ali Khan,17.0,Female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,Female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,Female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,Lucy Gray,17.0,Male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,Female,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,Female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,Male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,Male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy Gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,17.0,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,Male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,Male,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,Female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,Male,11th,75.0,NaN,66,2022-06-10,good student
23,123,Jane Smith,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,Male,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,17.0,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,Female,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,Female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,Male,11,NaN,64,83,2022/06/11,Average

In [26]:
df["grade"].unique()

array(['11', '10th', '10', '12', '11th'], dtype=object)

In [31]:
df.loc[:, "grade"] = df["grade"].replace({'10th':'10','11th':'11'})

In [32]:
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100.0,Jane Smith,16.0,Female,11,75.0,NaN,66.0,2022-06-10,excellent
1,101.0,John Doe,16.0,Male,10,74.0,95,94.0,10-06-2022,GOOD
2,102.0,Chris P.,17.0,Male,10,NaN,missing,69.0,06/12/2022,needs improvement
3,103.0,Jane Smith,16.0,Female,10,NaN,missing,62.0,10-06-2022,average
4,104.0,Sara O'Neil,16.0,Male,11,NaN,96,64.0,2022-06-10,GOOD
5,105.0,Mike O’Reilly,16.0,Female,10,NaN,NaN,83.0,06/12/2022,needs improvement
6,106.0,Ali Khan,17.0,Female,11,64.0,NaN,75.0,06/12/2022,Good
7,107.0,Sara O'Neil,17.0,Female,12,NaN,63,62.0,2022/06/11,excellent
8,108.0,Mike O’Reilly,16.0,Female,12,80.0,missing,89.0,06/12/2022,poor
9,109.0,Robert Brown,17.0,Female,12,NaN,missing,97.0,10-06-2022,needs improvement
10,110.0,Lucy Gray,17.0,Male,11,65.0,67,100.0,06/12/2022,excellent
11,111.0,Simran Singh,16.0,Female,11,NaN,missing,95.0,2022-06-10,average
12,112.0,Patel R.,17.0,Female,11,NaN,87,89.0,2022-06-10,poor
13,113.0,Patel R.,17.0,Male,10,NaN,NaN,98.0,06/12/2022,Average
14,114.0,Ali Khan,17.0,Male,12,NaN,91,67.0,2022/06/11,poor
15,115.0,Lucy Gray,16.0,Female,12,65.0,91,94.0,06/12/2022,Average
16,116.0,Chris P.,17.0,Female,11,NaN,NaN,72.0,2022/06/11,excellent
17,117.0,Ali Khan,18.0,Male,11,67.0,74,81.0,2022-06-10,GOOD
18,118.0,Simran Singh,17.0,Male,10,100.0,74,62.0,2022/06/11,average
19,119.0,Patel R.,17.0,Male,11,73.0,NaN,90.0,06/12/2022,Good
20,120.0,Sara O'Neil,17.0,Male,10,NaN,missing,89.0,2022-06-10,average
21,121.0,John Doe,18.0,Female,11,66.0,72,94.0,10-06-2022,Average
22,122.0,Sara O'Neil,17.0,Male,11,75.0,NaN,66.0,2022-06-10,good student
23,123.0,Jane Smith,17.0,Female,11,NaN,missing,63.0,06/12/2022,excellent
24,124.0,John Doe,18.0,Male,11,NaN,NaN,91.0,06/12/2022,GOOD
25,125.0,Mike O’Reilly,17.0,Male,12,94.0,80,63.0,10-06-2022,Average
26,126.0,John Doe,17.0,Male,10,64.0,missing,67.0,06/12/2022,good student
27,127.0,Simran Singh,16.0,Female,12,NaN,76,80.0,06/12/2022,poor
28,128.0,Sara O'Neil,17.0,Female,11,NaN,64,89.0,2022-06-10,average
29,129.0,Patel R.,17.0,Male,11,NaN,64,83.0,2022/06/11,Average
grade,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
math_mean = df['math_score'].mean()

In [36]:
df.loc[:,"math_score"] = df["math_score"].fillna(math_mean)

In [37]:
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100.0,Jane Smith,16.0,Female,11,75.0,NaN,66.0,2022-06-10,excellent
1,101.0,John Doe,16.0,Male,10,74.0,95,94.0,10-06-2022,GOOD
2,102.0,Chris P.,17.0,Male,10,74.0,missing,69.0,06/12/2022,needs improvement
3,103.0,Jane Smith,16.0,Female,10,74.0,missing,62.0,10-06-2022,average
4,104.0,Sara O'Neil,16.0,Male,11,74.0,96,64.0,2022-06-10,GOOD
5,105.0,Mike O’Reilly,16.0,Female,10,74.0,NaN,83.0,06/12/2022,needs improvement
6,106.0,Ali Khan,17.0,Female,11,64.0,NaN,75.0,06/12/2022,Good
7,107.0,Sara O'Neil,17.0,Female,12,74.0,63,62.0,2022/06/11,excellent
8,108.0,Mike O’Reilly,16.0,Female,12,80.0,missing,89.0,06/12/2022,poor
9,109.0,Robert Brown,17.0,Female,12,74.0,missing,97.0,10-06-2022,needs improvement
10,110.0,Lucy Gray,17.0,Male,11,65.0,67,100.0,06/12/2022,excellent
11,111.0,Simran Singh,16.0,Female,11,74.0,missing,95.0,2022-06-10,average
12,112.0,Patel R.,17.0,Female,11,74.0,87,89.0,2022-06-10,poor
13,113.0,Patel R.,17.0,Male,10,74.0,NaN,98.0,06/12/2022,Average
14,114.0,Ali Khan,17.0,Male,12,74.0,91,67.0,2022/06/11,poor
15,115.0,Lucy Gray,16.0,Female,12,65.0,91,94.0,06/12/2022,Average
16,116.0,Chris P.,17.0,Female,11,74.0,NaN,72.0,2022/06/11,excellent
17,117.0,Ali Khan,18.0,Male,11,67.0,74,81.0,2022-06-10,GOOD
18,118.0,Simran Singh,17.0,Male,10,100.0,74,62.0,2022/06/11,average
19,119.0,Patel R.,17.0,Male,11,73.0,NaN,90.0,06/12/2022,Good
20,120.0,Sara O'Neil,17.0,Male,10,74.0,missing,89.0,2022-06-10,average
21,121.0,John Doe,18.0,Female,11,66.0,72,94.0,10-06-2022,Average
22,122.0,Sara O'Neil,17.0,Male,11,75.0,NaN,66.0,2022-06-10,good student
23,123.0,Jane Smith,17.0,Female,11,74.0,missing,63.0,06/12/2022,excellent
24,124.0,John Doe,18.0,Male,11,74.0,NaN,91.0,06/12/2022,GOOD
25,125.0,Mike O’Reilly,17.0,Male,12,94.0,80,63.0,10-06-2022,Average
26,126.0,John Doe,17.0,Male,10,64.0,missing,67.0,06/12/2022,good student
27,127.0,Simran Singh,16.0,Female,12,74.0,76,80.0,06/12/2022,poor
28,128.0,Sara O'Neil,17.0,Female,11,74.0,64,89.0,2022-06-10,average
29,129.0,Patel R.,17.0,Male,11,74.0,64,83.0,2022/06/11,Average
grade,NaN,NaN,NaN,NaN,NaN,74.0,NaN,NaN,NaN,NaN

In [38]:
df["english_score"]

0            NaN
1             95
2        missing
3        missing
4             96
5            NaN
6            NaN
7             63
8        missing
9        missing
10            67
11       missing
12            87
13           NaN
14            91
15            91
16           NaN
17            74
18            74
19           NaN
20       missing
21            72
22           NaN
23       missing
24           NaN
25            80
26       missing
27            76
28            64
29            64
grade        NaN
Name: english_score, dtype: object

In [40]:
df.loc[:, "english_score"] = pd.to_numeric(df["english_score"], errors='coerce')

In [41]:
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100.0,Jane Smith,16.0,Female,11,75.0,NaN,66.0,2022-06-10,excellent
1,101.0,John Doe,16.0,Male,10,74.0,95.0,94.0,10-06-2022,GOOD
2,102.0,Chris P.,17.0,Male,10,74.0,NaN,69.0,06/12/2022,needs improvement
3,103.0,Jane Smith,16.0,Female,10,74.0,NaN,62.0,10-06-2022,average
4,104.0,Sara O'Neil,16.0,Male,11,74.0,96.0,64.0,2022-06-10,GOOD
5,105.0,Mike O’Reilly,16.0,Female,10,74.0,NaN,83.0,06/12/2022,needs improvement
6,106.0,Ali Khan,17.0,Female,11,64.0,NaN,75.0,06/12/2022,Good
7,107.0,Sara O'Neil,17.0,Female,12,74.0,63.0,62.0,2022/06/11,excellent
8,108.0,Mike O’Reilly,16.0,Female,12,80.0,NaN,89.0,06/12/2022,poor
9,109.0,Robert Brown,17.0,Female,12,74.0,NaN,97.0,10-06-2022,needs improvement
10,110.0,Lucy Gray,17.0,Male,11,65.0,67.0,100.0,06/12/2022,excellent
11,111.0,Simran Singh,16.0,Female,11,74.0,NaN,95.0,2022-06-10,average
12,112.0,Patel R.,17.0,Female,11,74.0,87.0,89.0,2022-06-10,poor
13,113.0,Patel R.,17.0,Male,10,74.0,NaN,98.0,06/12/2022,Average
14,114.0,Ali Khan,17.0,Male,12,74.0,91.0,67.0,2022/06/11,poor
15,115.0,Lucy Gray,16.0,Female,12,65.0,91.0,94.0,06/12/2022,Average
16,116.0,Chris P.,17.0,Female,11,74.0,NaN,72.0,2022/06/11,excellent
17,117.0,Ali Khan,18.0,Male,11,67.0,74.0,81.0,2022-06-10,GOOD
18,118.0,Simran Singh,17.0,Male,10,100.0,74.0,62.0,2022/06/11,average
19,119.0,Patel R.,17.0,Male,11,73.0,NaN,90.0,06/12/2022,Good
20,120.0,Sara O'Neil,17.0,Male,10,74.0,NaN,89.0,2022-06-10,average
21,121.0,John Doe,18.0,Female,11,66.0,72.0,94.0,10-06-2022,Average
22,122.0,Sara O'Neil,17.0,Male,11,75.0,NaN,66.0,2022-06-10,good student
23,123.0,Jane Smith,17.0,Female,11,74.0,NaN,63.0,06/12/2022,excellent
24,124.0,John Doe,18.0,Male,11,74.0,NaN,91.0,06/12/2022,GOOD
25,125.0,Mike O’Reilly,17.0,Male,12,94.0,80.0,63.0,10-06-2022,Average
26,126.0,John Doe,17.0,Male,10,64.0,NaN,67.0,06/12/2022,good student
27,127.0,Simran Singh,16.0,Female,12,74.0,76.0,80.0,06/12/2022,poor
28,128.0,Sara O'Neil,17.0,Female,11,74.0,64.0,89.0,2022-06-10,average
29,129.0,Patel R.,17.0,Male,11,74.0,64.0,83.0,2022/06/11,Average
grade,NaN,NaN,NaN,NaN,NaN,74.0,NaN,NaN,NaN,NaN

In [58]:
eng_mean = df['english_score'].mean()
eng_mean1 = round(eng_mean, 0)  # or round(eng_mean)

df.loc[:,"english_score"] = df["english_score"].fillna(eng_mean1)

In [60]:
df.loc[:,"english_score"] = df["english_score"].round(0)

In [61]:
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100.0,Jane Smith,16.0,Female,11,75.0,78.0,66.0,2022-06-10,excellent
1,101.0,John Doe,16.0,Male,10,74.0,95.0,94.0,10-06-2022,GOOD
2,102.0,Chris P.,17.0,Male,10,74.0,78.0,69.0,06/12/2022,needs improvement
3,103.0,Jane Smith,16.0,Female,10,74.0,78.0,62.0,10-06-2022,average
4,104.0,Sara O'Neil,16.0,Male,11,74.0,96.0,64.0,2022-06-10,GOOD
5,105.0,Mike O’Reilly,16.0,Female,10,74.0,78.0,83.0,06/12/2022,needs improvement
6,106.0,Ali Khan,17.0,Female,11,64.0,78.0,75.0,06/12/2022,Good
7,107.0,Sara O'Neil,17.0,Female,12,74.0,63.0,62.0,2022/06/11,excellent
8,108.0,Mike O’Reilly,16.0,Female,12,80.0,78.0,89.0,06/12/2022,poor
9,109.0,Robert Brown,17.0,Female,12,74.0,78.0,97.0,10-06-2022,needs improvement
10,110.0,Lucy Gray,17.0,Male,11,65.0,67.0,100.0,06/12/2022,excellent
11,111.0,Simran Singh,16.0,Female,11,74.0,78.0,95.0,2022-06-10,average
12,112.0,Patel R.,17.0,Female,11,74.0,87.0,89.0,2022-06-10,poor
13,113.0,Patel R.,17.0,Male,10,74.0,78.0,98.0,06/12/2022,Average
14,114.0,Ali Khan,17.0,Male,12,74.0,91.0,67.0,2022/06/11,poor
15,115.0,Lucy Gray,16.0,Female,12,65.0,91.0,94.0,06/12/2022,Average
16,116.0,Chris P.,17.0,Female,11,74.0,78.0,72.0,2022/06/11,excellent
17,117.0,Ali Khan,18.0,Male,11,67.0,74.0,81.0,2022-06-10,GOOD
18,118.0,Simran Singh,17.0,Male,10,100.0,74.0,62.0,2022/06/11,average
19,119.0,Patel R.,17.0,Male,11,73.0,78.0,90.0,06/12/2022,Good
20,120.0,Sara O'Neil,17.0,Male,10,74.0,78.0,89.0,2022-06-10,average
21,121.0,John Doe,18.0,Female,11,66.0,72.0,94.0,10-06-2022,Average
22,122.0,Sara O'Neil,17.0,Male,11,75.0,78.0,66.0,2022-06-10,good student
23,123.0,Jane Smith,17.0,Female,11,74.0,78.0,63.0,06/12/2022,excellent
24,124.0,John Doe,18.0,Male,11,74.0,78.0,91.0,06/12/2022,GOOD
25,125.0,Mike O’Reilly,17.0,Male,12,94.0,80.0,63.0,10-06-2022,Average
26,126.0,John Doe,17.0,Male,10,64.0,78.0,67.0,06/12/2022,good student
27,127.0,Simran Singh,16.0,Female,12,74.0,76.0,80.0,06/12/2022,poor
28,128.0,Sara O'Neil,17.0,Female,11,74.0,64.0,89.0,2022-06-10,average
29,129.0,Patel R.,17.0,Male,11,74.0,64.0,83.0,2022/06/11,Average
grade,NaN,NaN,NaN,NaN,NaN,74.0,78.0,NaN,NaN,NaN

In [62]:
df["science_score"]

0         66.0
1         94.0
2         69.0
3         62.0
4         64.0
5         83.0
6         75.0
7         62.0
8         89.0
9         97.0
10       100.0
11        95.0
12        89.0
13        98.0
14        67.0
15        94.0
16        72.0
17        81.0
18        62.0
19        90.0
20        89.0
21        94.0
22        66.0
23        63.0
24        91.0
25        63.0
26        67.0
27        80.0
28        89.0
29        83.0
grade      NaN
Name: science_score, dtype: float64

In [63]:
df.loc[:,"science_score"] = df["science_score"].dropna()

In [64]:
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100.0,Jane Smith,16.0,Female,11,75.0,78.0,66.0,2022-06-10,excellent
1,101.0,John Doe,16.0,Male,10,74.0,95.0,94.0,10-06-2022,GOOD
2,102.0,Chris P.,17.0,Male,10,74.0,78.0,69.0,06/12/2022,needs improvement
3,103.0,Jane Smith,16.0,Female,10,74.0,78.0,62.0,10-06-2022,average
4,104.0,Sara O'Neil,16.0,Male,11,74.0,96.0,64.0,2022-06-10,GOOD
5,105.0,Mike O’Reilly,16.0,Female,10,74.0,78.0,83.0,06/12/2022,needs improvement
6,106.0,Ali Khan,17.0,Female,11,64.0,78.0,75.0,06/12/2022,Good
7,107.0,Sara O'Neil,17.0,Female,12,74.0,63.0,62.0,2022/06/11,excellent
8,108.0,Mike O’Reilly,16.0,Female,12,80.0,78.0,89.0,06/12/2022,poor
9,109.0,Robert Brown,17.0,Female,12,74.0,78.0,97.0,10-06-2022,needs improvement
10,110.0,Lucy Gray,17.0,Male,11,65.0,67.0,100.0,06/12/2022,excellent
11,111.0,Simran Singh,16.0,Female,11,74.0,78.0,95.0,2022-06-10,average
12,112.0,Patel R.,17.0,Female,11,74.0,87.0,89.0,2022-06-10,poor
13,113.0,Patel R.,17.0,Male,10,74.0,78.0,98.0,06/12/2022,Average
14,114.0,Ali Khan,17.0,Male,12,74.0,91.0,67.0,2022/06/11,poor
15,115.0,Lucy Gray,16.0,Female,12,65.0,91.0,94.0,06/12/2022,Average
16,116.0,Chris P.,17.0,Female,11,74.0,78.0,72.0,2022/06/11,excellent
17,117.0,Ali Khan,18.0,Male,11,67.0,74.0,81.0,2022-06-10,GOOD
18,118.0,Simran Singh,17.0,Male,10,100.0,74.0,62.0,2022/06/11,average
19,119.0,Patel R.,17.0,Male,11,73.0,78.0,90.0,06/12/2022,Good
20,120.0,Sara O'Neil,17.0,Male,10,74.0,78.0,89.0,2022-06-10,average
21,121.0,John Doe,18.0,Female,11,66.0,72.0,94.0,10-06-2022,Average
22,122.0,Sara O'Neil,17.0,Male,11,75.0,78.0,66.0,2022-06-10,good student
23,123.0,Jane Smith,17.0,Female,11,74.0,78.0,63.0,06/12/2022,excellent
24,124.0,John Doe,18.0,Male,11,74.0,78.0,91.0,06/12/2022,GOOD
25,125.0,Mike O’Reilly,17.0,Male,12,94.0,80.0,63.0,10-06-2022,Average
26,126.0,John Doe,17.0,Male,10,64.0,78.0,67.0,06/12/2022,good student
27,127.0,Simran Singh,16.0,Female,12,74.0,76.0,80.0,06/12/2022,poor
28,128.0,Sara O'Neil,17.0,Female,11,74.0,64.0,89.0,2022-06-10,average
29,129.0,Patel R.,17.0,Male,11,74.0,64.0,83.0,2022/06/11,Average
grade,NaN,NaN,NaN,NaN,NaN,74.0,78.0,NaN,NaN,NaN

In [66]:
df["enrolled_date"].unique()

array(['2022-06-10', '10-06-2022', '06/12/2022', '2022/06/11', nan],
      dtype=object)

In [67]:
## yyyy-mm-dd

In [68]:
dict_date={
    '10-06-2022':'2022-06-10',
    '06/12/2022':'2022-06-12',
    '2022/06/11':'2022-06-11'
}

In [70]:
df.loc[:,"enrolled_date"] = df["enrolled_date"].replace(dict_date)

In [71]:
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100.0,Jane Smith,16.0,Female,11,75.0,78.0,66.0,2022-06-10,excellent
1,101.0,John Doe,16.0,Male,10,74.0,95.0,94.0,2022-06-10,GOOD
2,102.0,Chris P.,17.0,Male,10,74.0,78.0,69.0,2022-06-12,needs improvement
3,103.0,Jane Smith,16.0,Female,10,74.0,78.0,62.0,2022-06-10,average
4,104.0,Sara O'Neil,16.0,Male,11,74.0,96.0,64.0,2022-06-10,GOOD
5,105.0,Mike O’Reilly,16.0,Female,10,74.0,78.0,83.0,2022-06-12,needs improvement
6,106.0,Ali Khan,17.0,Female,11,64.0,78.0,75.0,2022-06-12,Good
7,107.0,Sara O'Neil,17.0,Female,12,74.0,63.0,62.0,2022-06-11,excellent
8,108.0,Mike O’Reilly,16.0,Female,12,80.0,78.0,89.0,2022-06-12,poor
9,109.0,Robert Brown,17.0,Female,12,74.0,78.0,97.0,2022-06-10,needs improvement
10,110.0,Lucy Gray,17.0,Male,11,65.0,67.0,100.0,2022-06-12,excellent
11,111.0,Simran Singh,16.0,Female,11,74.0,78.0,95.0,2022-06-10,average
12,112.0,Patel R.,17.0,Female,11,74.0,87.0,89.0,2022-06-10,poor
13,113.0,Patel R.,17.0,Male,10,74.0,78.0,98.0,2022-06-12,Average
14,114.0,Ali Khan,17.0,Male,12,74.0,91.0,67.0,2022-06-11,poor
15,115.0,Lucy Gray,16.0,Female,12,65.0,91.0,94.0,2022-06-12,Average
16,116.0,Chris P.,17.0,Female,11,74.0,78.0,72.0,2022-06-11,excellent
17,117.0,Ali Khan,18.0,Male,11,67.0,74.0,81.0,2022-06-10,GOOD
18,118.0,Simran Singh,17.0,Male,10,100.0,74.0,62.0,2022-06-11,average
19,119.0,Patel R.,17.0,Male,11,73.0,78.0,90.0,2022-06-12,Good
20,120.0,Sara O'Neil,17.0,Male,10,74.0,78.0,89.0,2022-06-10,average
21,121.0,John Doe,18.0,Female,11,66.0,72.0,94.0,2022-06-10,Average
22,122.0,Sara O'Neil,17.0,Male,11,75.0,78.0,66.0,2022-06-10,good student
23,123.0,Jane Smith,17.0,Female,11,74.0,78.0,63.0,2022-06-12,excellent
24,124.0,John Doe,18.0,Male,11,74.0,78.0,91.0,2022-06-12,GOOD
25,125.0,Mike O’Reilly,17.0,Male,12,94.0,80.0,63.0,2022-06-10,Average
26,126.0,John Doe,17.0,Male,10,64.0,78.0,67.0,2022-06-12,good student
27,127.0,Simran Singh,16.0,Female,12,74.0,76.0,80.0,2022-06-12,poor
28,128.0,Sara O'Neil,17.0,Female,11,74.0,64.0,89.0,2022-06-10,average
29,129.0,Patel R.,17.0,Male,11,74.0,64.0,83.0,2022-06-11,Average
grade,NaN,NaN,NaN,NaN,NaN,74.0,78.0,NaN,NaN,NaN

In [72]:
pd.to_datetime(df["enrolled_date"])

0       2022-06-10
1       2022-06-10
2       2022-06-12
3       2022-06-10
4       2022-06-10
5       2022-06-12
6       2022-06-12
7       2022-06-11
8       2022-06-12
9       2022-06-10
10      2022-06-12
11      2022-06-10
12      2022-06-10
13      2022-06-12
14      2022-06-11
15      2022-06-12
16      2022-06-11
17      2022-06-10
18      2022-06-11
19      2022-06-12
20      2022-06-10
21      2022-06-10
22      2022-06-10
23      2022-06-12
24      2022-06-12
25      2022-06-10
26      2022-06-12
27      2022-06-12
28      2022-06-10
29      2022-06-11
grade          NaT
Name: enrolled_date, dtype: datetime64[ns]

In [74]:
df["remarks"].unique()

array(['excellent', 'GOOD', 'needs improvement', 'average', 'Good',
       'poor', 'Average', 'good student', nan], dtype=object)

In [75]:
dict_remark = {
'excellent':'Excellent', 
'GOOD':'Good', 
'needs improvement':'Needs improvement', 
'average': 'Average', 
'poor':'Poor', 
'good student':'Good'
}

In [76]:
df["remarks"].replace(dict_remark).unique()

array(['Excellent', 'Good', 'Needs improvement', 'Average', 'Poor', nan],
      dtype=object)

In [77]:
df.loc[:,"remarks"] = df["remarks"].replace(dict_remark)

In [78]:
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100.0,Jane Smith,16.0,Female,11,75.0,78.0,66.0,2022-06-10,Excellent
1,101.0,John Doe,16.0,Male,10,74.0,95.0,94.0,2022-06-10,Good
2,102.0,Chris P.,17.0,Male,10,74.0,78.0,69.0,2022-06-12,Needs improvement
3,103.0,Jane Smith,16.0,Female,10,74.0,78.0,62.0,2022-06-10,Average
4,104.0,Sara O'Neil,16.0,Male,11,74.0,96.0,64.0,2022-06-10,Good
5,105.0,Mike O’Reilly,16.0,Female,10,74.0,78.0,83.0,2022-06-12,Needs improvement
6,106.0,Ali Khan,17.0,Female,11,64.0,78.0,75.0,2022-06-12,Good
7,107.0,Sara O'Neil,17.0,Female,12,74.0,63.0,62.0,2022-06-11,Excellent
8,108.0,Mike O’Reilly,16.0,Female,12,80.0,78.0,89.0,2022-06-12,Poor
9,109.0,Robert Brown,17.0,Female,12,74.0,78.0,97.0,2022-06-10,Needs improvement
10,110.0,Lucy Gray,17.0,Male,11,65.0,67.0,100.0,2022-06-12,Excellent
11,111.0,Simran Singh,16.0,Female,11,74.0,78.0,95.0,2022-06-10,Average
12,112.0,Patel R.,17.0,Female,11,74.0,87.0,89.0,2022-06-10,Poor
13,113.0,Patel R.,17.0,Male,10,74.0,78.0,98.0,2022-06-12,Average
14,114.0,Ali Khan,17.0,Male,12,74.0,91.0,67.0,2022-06-11,Poor
15,115.0,Lucy Gray,16.0,Female,12,65.0,91.0,94.0,2022-06-12,Average
16,116.0,Chris P.,17.0,Female,11,74.0,78.0,72.0,2022-06-11,Excellent
17,117.0,Ali Khan,18.0,Male,11,67.0,74.0,81.0,2022-06-10,Good
18,118.0,Simran Singh,17.0,Male,10,100.0,74.0,62.0,2022-06-11,Average
19,119.0,Patel R.,17.0,Male,11,73.0,78.0,90.0,2022-06-12,Good
20,120.0,Sara O'Neil,17.0,Male,10,74.0,78.0,89.0,2022-06-10,Average
21,121.0,John Doe,18.0,Female,11,66.0,72.0,94.0,2022-06-10,Average
22,122.0,Sara O'Neil,17.0,Male,11,75.0,78.0,66.0,2022-06-10,Good
23,123.0,Jane Smith,17.0,Female,11,74.0,78.0,63.0,2022-06-12,Excellent
24,124.0,John Doe,18.0,Male,11,74.0,78.0,91.0,2022-06-12,Good
25,125.0,Mike O’Reilly,17.0,Male,12,94.0,80.0,63.0,2022-06-10,Average
26,126.0,John Doe,17.0,Male,10,64.0,78.0,67.0,2022-06-12,Good
27,127.0,Simran Singh,16.0,Female,12,74.0,76.0,80.0,2022-06-12,Poor
28,128.0,Sara O'Neil,17.0,Female,11,74.0,64.0,89.0,2022-06-10,Average
29,129.0,Patel R.,17.0,Male,11,74.0,64.0,83.0,2022-06-11,Average
grade,NaN,NaN,NaN,NaN,NaN,74.0,78.0,NaN,NaN,NaN

In [81]:
df = df.drop(index="grade")   # drops the row with index 5

In [82]:
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100.0,Jane Smith,16.0,Female,11,75.0,78.0,66.0,2022-06-10,Excellent
1,101.0,John Doe,16.0,Male,10,74.0,95.0,94.0,2022-06-10,Good
2,102.0,Chris P.,17.0,Male,10,74.0,78.0,69.0,2022-06-12,Needs improvement
3,103.0,Jane Smith,16.0,Female,10,74.0,78.0,62.0,2022-06-10,Average
4,104.0,Sara O'Neil,16.0,Male,11,74.0,96.0,64.0,2022-06-10,Good
5,105.0,Mike O’Reilly,16.0,Female,10,74.0,78.0,83.0,2022-06-12,Needs improvement
6,106.0,Ali Khan,17.0,Female,11,64.0,78.0,75.0,2022-06-12,Good
7,107.0,Sara O'Neil,17.0,Female,12,74.0,63.0,62.0,2022-06-11,Excellent
8,108.0,Mike O’Reilly,16.0,Female,12,80.0,78.0,89.0,2022-06-12,Poor
9,109.0,Robert Brown,17.0,Female,12,74.0,78.0,97.0,2022-06-10,Needs improvement
10,110.0,Lucy Gray,17.0,Male,11,65.0,67.0,100.0,2022-06-12,Excellent
11,111.0,Simran Singh,16.0,Female,11,74.0,78.0,95.0,2022-06-10,Average
12,112.0,Patel R.,17.0,Female,11,74.0,87.0,89.0,2022-06-10,Poor
13,113.0,Patel R.,17.0,Male,10,74.0,78.0,98.0,2022-06-12,Average
14,114.0,Ali Khan,17.0,Male,12,74.0,91.0,67.0,2022-06-11,Poor
15,115.0,Lucy Gray,16.0,Female,12,65.0,91.0,94.0,2022-06-12,Average
16,116.0,Chris P.,17.0,Female,11,74.0,78.0,72.0,2022-06-11,Excellent
17,117.0,Ali Khan,18.0,Male,11,67.0,74.0,81.0,2022-06-10,Good
18,118.0,Simran Singh,17.0,Male,10,100.0,74.0,62.0,2022-06-11,Average
19,119.0,Patel R.,17.0,Male,11,73.0,78.0,90.0,2022-06-12,Good
20,120.0,Sara O'Neil,17.0,Male,10,74.0,78.0,89.0,2022-06-10,Average
21,121.0,John Doe,18.0,Female,11,66.0,72.0,94.0,2022-06-10,Average
22,122.0,Sara O'Neil,17.0,Male,11,75.0,78.0,66.0,2022-06-10,Good
23,123.0,Jane Smith,17.0,Female,11,74.0,78.0,63.0,2022-06-12,Excellent
24,124.0,John Doe,18.0,Male,11,74.0,78.0,91.0,2022-06-12,Good
25,125.0,Mike O’Reilly,17.0,Male,12,94.0,80.0,63.0,2022-06-10,Average
26,126.0,John Doe,17.0,Male,10,64.0,78.0,67.0,2022-06-12,Good
27,127.0,Simran Singh,16.0,Female,12,74.0,76.0,80.0,2022-06-12,Poor
28,128.0,Sara O'Neil,17.0,Female,11,74.0,64.0,89.0,2022-06-10,Average
29,129.0,Patel R.,17.0,Male,11,74.0,64.0,83.0,2022-06-11,Average

In [83]:
df.to_csv("students_data_cleaned.csv", index=False)